/* font for h1 elements and so on */
@font-face {
  font-family: "Tech";
  src: url("/fonts/Anta-Regular.ttf") format("truetype");
}

/* font for buttons */
@font-face {
  font-family: "Sandy";
  src: url("/fonts/Quicksand-Light.ttf") format("truetype");
}

/* better font for p and nav bar possibly? */
@font-face {
    font-family: "Professional";
    src: url("/fonts/Abel-Regular.ttf") format("truetype");
}

body {
    background-color: #b9bfd3;
}

h1, h2, h3 {
    font-family: "Tech", sans-serif;
}

p, li {
    font-family: "Professional", sans-serif;
}

li {
    font-weight: 600;
}

.lasagna-img {
    border-radius: 50px;
    box-shadow: 8px  8px 8px rgba(67, 73, 77, 50%);
}

.lasagna-logo, .link {
    text-decoration: none;
    color: #3c404b;
}

.nav-link {
    color: #3c404b;
    text-decoration: none;
}

.nav-bar a {
    display: inline-flex;
    float: right;
    text-align: center;
    padding: 14px 18px;
    font-family: "Professional", sans-serif;
}

.bonus-step {
    display: inline-block;
    width: 1200px;
    margin-left: 18%;
    background-color: #3B434B;
    color: #FAFAFA;
    font-size: 1.5rem;
}